body{
    background-image: linear-gradient(to right, indianred, rgb(216, 227, 66))
}
#head1{
    font-family: Menlo;
    font-weight: bolder;
}
.container{
    text-align: center;
    margin-top: 1em;
    height: 100vh;
}
#head2{
    font-family: monospace;
    font-size: 1.5em;
}
input{
    padding: 10px 20px;
    border-radius: 30px;
    width: 500px;
}
input::-webkit-input-placeholder{
    text-align: center;
}

button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(44, 217, 73);
    border-radius: 12px;
    font-size: 1.2em;
    margin: 10px;
}
button:hover{
    cursor: pointer;
}

div.status-block{
    font-family: cursive;
    border: 1px solid black;
    padding: 10px 0px;
    margin: 5px;
    width: 32%;
    border-radius: 30px;
    font-size: 1.1em;
}

.done{
    background-color: green;
    color: white;
}